/* Add your custom CSS styles here */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 100px;
    background-color: #fdfdfdf3;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

section {
    padding: 50px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.college-logo {
    position: absolute;
    top: 10px;
    right: 10px;
}
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
}